<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647628773303-08eu03hiq18lfvbubgfsm6tgg71c2kk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647628773303-08eu03hiq18lfvbubgfsm6tgg71c2kk2</string>
	<key>API_KEY</key>
	<string>AIzaSyCJW_QQUo5M9-tRJ5pPrqiLMYtm6AROyFk</string>
	<key>GCM_SENDER_ID</key>
	<string>647628773303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartO2.HomeOxygenApp2</string>
	<key>PROJECT_ID</key>
	<string>homeoxygenapp</string>
	<key>STORAGE_BUCKET</key>
	<string>homeoxygenapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647628773303:ios:eefdae642f935229107a32</string>
	<key>DATABASE_URL</key>
	<string>https://homeoxygenapp.firebaseio.com</string>
</dict>
</plist>